<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | Authors Login</title>
    <script src="/scripts/writerLogin.js" defer></script>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/loginRes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="form-container">
        <div class="top-row">
            <img src="/imgs/logo.png" alt="">
            <h2 style="text-transform: none;">Login as <b style="color:var(--color-primary);">author</b></h2>
        </div>
        <div class="errors"></div>
        <form>
            <div class="form-item">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div class="form-item">
                <label for="pwd">Password</label>
                <input type="password" name="password" id="pwd" required>
            </div>
                <button type="button">Enter</button></div>
        </form>
    </div>
</body>
</html>