<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | Authors View</title>
    <script src="https://cdn.tiny.cloud/1/puf70dx3rttzxi7kdg0imgeoppwcifpgjfkp38uv1ssmx8x4/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="/scripts/writerHome.js" defer></script>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/personal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("../partials/writerNav") %>
    <div class="greeting"></div>
    <main>
        <div class='selection'>
        </div>
        <div class="select-box" style="display: none ;"></div>
        <div class='posts-container'></div>
    </main>
</body>
</html>