<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <script src="/scripts/homePage.js" defer></script>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"></head>
<body>
    <%- include('../partials/userNavbar') %>
    <main>
        <div class="selection">
            <button id="latest">Latest Posts</button>
            <button id="all">All Posts</button>
        </div>
        <div class="posts-container">
        </div>
    </main>
</body>
</html>