<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | User Login</title>
    <script src="/scripts/login.js" defer></script>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/loginRes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="form-container">
        <div class="top-row">
            <img src="/imgs/logo.png" alt="">
            <h2>LogIn</h2>
        </div>
        <div class="errors"></div>
        <form id="loginForm">
            <div class="form-item"><label for="username">Username</label><input type="text" name="username" id="username"></div>
            <div class="form-item"><label for="password">Password</label><input type="password" name="password" id="password"></div>
            <button type="button">enter</button>
        </form>
    </div>
    
</body>
</html>