<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | Writer Registration</title>
    <script src="/scripts/writerRegister.js" defer></script>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/loginRes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"></head>
</head>
<body>
    <%- include("../partials/userNavbar") %>
    <main>
        <div class="form-container">
            <div class="top-row" style="margin-bottom: -20px;">
                <h2 style="text-align: center; text-transform: none;">Become an <b style="color: var(--color-primary);">author</b> of</h2>
                <img src="/imgs/logo.png" alt="">
            </div>
            <form>
                <div class="errors">
                </div>
                <div class="form-item">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" required>
                </div>
                <div class="form-item">
                    <label for="surname">Surname</label>
                    <input type="text" name="surname" id="surname" required>
                </div>
                <div class="form-item">
                    <label for="img">Profile Picture</label>
                    <input type="text" name="img" id="img" placeholder="image link">
                </div>
                <div class="form-item">
                    <label for="bio">Tell us a bit about yourself</label>
                    <textarea name="bio" id="bio" rows="5" required></textarea>
                </div>
                <button type="button">Register</button>
            </form>
        </div>
    </main>
</body>
</html>