.form-container{
    max-width: 500px;
    margin: 3em auto;
    background-color: var(--color-surface);
    border: 2px solid var(--color-border);
}
.top-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-row img{
    height: 100px;
}

.top-row h2{
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--color-text);
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2em;
    margin-bottom: 3em;
    border-radius: var(--border-radius);
}
.form-item{
    display: flex;
    flex-direction: column;
    gap:3px;
    width: 80%;
}

.form-item label{
    color: var(--color-text);
}

.form-item input{
    font-size: 1rem;
    padding: 0.5em 0.75em;
    border: none;
    background-color: var(--color-border);
    color: var(--color-text);
}

form button{
    color: var(--color-text);
    background: var(--color-surface);
    padding: 1em 2em;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius);
    border: 2px solid var(--color-border);
}

form button:hover{
    color: var(--color-primary);
    border:2px solid var(--color-primary)
}

textarea{
    resize: none;
    background-color: var(--color-surface);
    color: var(--color-text);
    font-size: 1rem;
    font-family: 'Roboto',sans-serif;
}