:root {
  --color-bg: #121212;
  --color-surface: #1e1e1e;
  --color-text: #f1f1f1;

  --color-primary: #2196f3;
  --color-primary-hover: #1976d2;

  --color-warn: #ff9800;    
  --color-error: #f44336;   

  --color-border: #444;
  --color-shadow: rgba(0, 0, 0, 0.3);

  --border-radius:8px;
}
body{
    margin:0;
    padding: 0 3rem;
    font-family: 'Roboto',sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}
h2,p,h1{
    margin:0;
}
a{
    text-decoration: none;
    margin: 0;
}
.errors{
    width: 100%;
    text-align: center;
    margin-bottom: 9px;
}
.errors p{
    color: var(--color-error);
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    border-bottom: 2px solid var(--color-border);
    margin-bottom: 2em;
}
.nav-container img{
    height: 100px;
}
.nav-container .right{
    display: flex;
    gap:1em;
}
.nav-container .right a{
    background-color: var(--color-bg);
    color: var(--color-text);
    border: 1px solid var(--color-border);
    padding: 0.5em 1em;
    transition: color 0.3s ease;
    width: 80px;
    text-align: center;
    border-radius: var(--border-radius);
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35px;
}

.nav-container .right a:first-child:hover{
    color: var(--color-primary);
}
.nav-container .right a:nth-child(2):hover{
    color: var(--color-primary);
}
.nav-container .right a:last-child:hover{
    color: var(--color-error);
}